* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eff2f5;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
.quote {
  padding-bottom: 34px;
  font-size: 1.5rem;
  font-family: cursive;
  color: rgb(57, 33, 2);
  font-weight: 900;
  text-align: center;
}

h1 {
  color: #032645;
  margin: 20px;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 2px;
}

.my-table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
}

.bg-color {
  /* background-image: url('./images/Book-bg.jpg'); */
  height: 100;
  width: 200;
  /* display: flex; */
}

.mar-bottom {
  margin-bottom: 30px;
  text-align: left;
}
.my-table th,
.my-table td {
  margin-top: "30px" !important;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.my-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.dropdown {
  display: inline-block;
  padding: 10px;
  width: 30%;
  font-size: 16px;
  height: 45px;
  border-radius: 20px;
}

/* .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
} */

.main {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 0px 68px;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 75px;
}

.card-container {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 10px;
  padding: 12px;
  height: 385px;
  width: 290px;
  color: rgb(51, 2, 2);
  background-color: #faa6873b;
  box-shadow: 5px 5px 5px rgb(253, 132, 88);
  border-radius: 4px;
}

.card-container img {
  width: 215px;
  height: 240px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 3px 3px 3px rgb(66, 65, 65);
}

.card-container p {
  overflow: hidden;
  font-size: 1.1rem;
  font-family: fantasy;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  letter-spacing: 0.4px;
  white-space: normal;
}

.card-container #book-title {
  letter-spacing: 0.6px;
  line-height: 25px;
  font-weight: bolder;
}
